<div class="form-container">
  <h1>Brew with me, vous souhaite la Bienvenue !</h1>
  <p>Prêt à deguster une délicieuse boisson chaude !</p>

  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
</div>