<div class="header-bg">
  <h1>Création THP</h1>
  <p><a href="https://bootswatch.com/sketchy/" target="_blank">Ici</a> vous retrouverez mon kit Ui Sketchy.</p>
</div>

<div class="row">
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Formulaire</h5>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Adresse email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-info mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card n°2</h5>
        <p class="card-text">Une deuxième card, c'est vraiment ouf.</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card n°3</h5>
        <p class="card-text">Voici une troisième card c'est chouette hein?.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <h3>Voilà un exemple de super banière avec des bouttons Sketchy</h3>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-link">Link</button>
</div>